{% extends 'base.html' %}

{% block content %}

<h2>Create a Franchise </h2>

<div class="form-group">
    <form action="/franchise/create/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.franchies_name}}
        <br>
        {{ form.thumb}}
        <br>
        <div class="row">
            <div class="col">
                <label>Number of Films</label>
                {{ form.film_num }}
            </div>
            <div class="col">
                <label>Number of TV series</label>
                {{ form.tv_num }}
            </div>
            <div class="col">
                <label>Number of OAV's</label>
                {{ form.oav_num }}
            </div>
        </div>
        <br>
        <input type="submit" class="btn btn-primary" value="Create">
    </form>
</div>
{% endblock %}