{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">


function firstLoad() {
    {% for franchise_item_film in franchise_items_films %}
    document.getElementById('film_table_comp_{{forloop.counter}}').style.display = 'none';
    {% endfor %}
    {% for franchise_item_tv in franchise_items_tvs %}
    document.getElementById('tv_table_comp_{{forloop.counter}}').style.display = 'none';
    {% endfor %}
    document.getElementById('film_button').style.display = 'none';
    document.getElementById('tv_button').style.display = 'none';
}
function filmComp() {

    {% for franchise_item_film in franchise_items_films %}
    var film_comp_toggle = document.getElementById('film_table_comp_{{forloop.counter}}')
    if (film_comp_toggle.style.display === "block") {
        film_comp_toggle.style.display = 'none';
        console.log('film_table_comp_{{forloop.counter}}:none'); 
    } else {
        film_comp_toggle.style.display = 'block';
        console.log('film_table_comp_{{forloop.counter}}:block'); 
    }            
    {% endfor %}
}
function filmButton() {
    var tv_comp_toggle_show = document.getElementById('tv_button')
    var film_comp_toggle_show = document.getElementById('film_button')
    if (film_comp_toggle_show.style.display === "none"){
        film_comp_toggle_show.style.display = "block";
        tv_comp_toggle_show.style.display = "none";
    } else {
        film_comp_toggle_show.style.display = "none";
    }
}


function tvComp() {
    {% for franchise_item_tv in franchise_items_tvs %}
    var tv_comp_toggle = document.getElementById('tv_table_comp_{{forloop.counter}}')
    if (tv_comp_toggle.style.display === "block"){
        tv_comp_toggle.style.display = 'none';
        // tv_comp_toggle.class = '';
        console.log('tv_table_comp_{{forloop.counter}}:none'); 
    } else {
        tv_comp_toggle.style.display = 'block';
        // tv_comp_toggle.class = 'col';
        console.log('tv_table_comp_{{forloop.counter}}:block'); 
    }            
    {% endfor %}
}
function tvButton() {
    var tv_comp_toggle_show = document.getElementById('tv_button')
    var film_comp_toggle_show = document.getElementById('film_button')
    if (tv_comp_toggle_show.style.display === "none"){
        tv_comp_toggle_show.style.display = "block";
        film_comp_toggle_show.style.display = "none";
    } else {
        tv_comp_toggle_show.style.display = "none";
    }
}

function allComp() {
    filmComp();
    tvComp();    
}

function mainButton() {
    var tv_comp_toggle_show = document.getElementById('tv_button')
    var film_comp_toggle_show = document.getElementById('film_button')
    if (tv_comp_toggle_show.style.display === "block"){
        tv_comp_toggle_show.style.display = "none";
    }
    if (film_comp_toggle_show.style.display === "block"){
        film_comp_toggle_show.style.display = "none";
    }
}

</script>
<body onload="firstLoad()">
    
    <div class="card">
        <div class="card-header">
            <div class="btn-group mr-2" role="group" aria-label="main group">
                <button class="btn btn-primary" data-toggle="collapse" href="#main_table" role="button"
                    aria-expanded="false" onclick="mainButton()">
                    {{franchises_details.franchies_name}} Deatils   
                </button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="fist group">
                {% if franchises_details.film_type is True %}
                <button class="btn btn-primary" data-toggle="collapse" href="#film_table" role="button"
                    aria-expanded="false" onclick="filmButton()">
                    Films: {{franchises_details.film_num}}
                </button>
                {% endif %}
                {% if franchises_details.tv_type is True %}
                <button class="btn btn-primary" data-toggle="collapse" href="#tv_table" role="button" 
                    aria-expanded="false" onclick="tvButton()">
                    Seasons: {{franchises_details.tv_num}}
                </button>
                {% endif %}
            </div>
            <div class="btn-group mr-2" role="group" aria-label="second group">
                <div class="dropright">
                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Add Items
                    </a>
                
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" data-toggle="modal" data-target="#filmModal" name="Film">Add Film</a>
                        </form>
                        <a class="dropdown-item" data-toggle="modal" data-target="#tvModal" name="TV">Add TV</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#oavModal" name="OAV">Add OAV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="form-group">
        <form action="/{{franchises_details.franchise_slug}}" method="POST" enctype="multipart/form-data">
            <div class="modal fade" id="filmModal" tabindex="-1" role="dialog" aria-labelledby="filmModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="filmModalLabel">New Film Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        {{franchises_details.franchies_name}}: Film
                        {{form.name}}                  
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Create" name="Film"/>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </form>
    </div>
    <div class="form-group">
        <form action="/{{franchises_details.franchise_slug}}" method="POST" enctype="multipart/form-data">
            <div class="modal fade" id="tvModal" tabindex="-1" role="dialog" aria-labelledby="tvModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="tvModalLabel">New TV Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        {{franchises_details.franchies_name}}: TV
                        {{form.name}}
                        <p></p>
                        Number of Ep:{{form.number_of_episodes}}                   
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Create" name="TV"/>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </form>
    </div>
    <div class="form-group">
        <form action="/{{franchises_details.franchise_slug}}" method="POST" enctype="multipart/form-data">
            <div class="modal fade" id="oavModal" tabindex="-1" role="dialog" aria-labelledby="oavModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="oavModalLabel">New OAV Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        {{franchises_details.franchies_name}}: OAV
                        {{form.name}}
                        <p></p>
                        Number of Ep:{{form.number_of_episodes}}                   
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Create" name="OAV"/>
                    </div>
                </div>
                </div>
                </div>
            </div>
        </form>
    </div>


    <div id="table_items">
        <div class="jumbotron">
            <h1 class="display-4">{{franchises_details.franchies_name}}</h1>
            <hr class="my-4">
            <div class="row">
                <div class="col">
                    <img src="{{franchises_details.thumb.url}}" class="rounded pt-3" style="height: 300px;" alt="">
                </div>
                <div class="col-10">
        <!-- Comp buttons VVVVVVVVVVVVVV -->
        <div id="film_button">
            <div class="btn-group p-3" role="group" aria-label="Second group">
                <button class="btn btn-primary" role="button" onclick="allComp()">
                    Select User to compare
                </button>
            </div>
        </div>
        <div id="tv_button">
            <div class="btn-group p-3" role="group" aria-label="Second group">
                <button class="btn btn-primary" role="button" aria-expanded="false" onclick="allComp()">
                    Select User to compare
                </button>
            </div>
        </div>
        <!-- Comp buttons ^^^^^^^^^^^^^^ -->
        <!-- Main VVVVVVVVVVVVVV -->
        <div class="row">
            <div class="col">
                {% for franchise_item_film in franchise_items_films %} 
                <div id="main_table" class="collapse multi-collapse" data-parent="#table_items">
                </div>
                {% endfor %}
                <div id="main_table" class="collapse show multi-collapse" data-parent="#table_items">
                    <div class="row m-1 pt-3">
                        {% if franchises_details.film_type is True %}
                        <div class="col-md-auto">
                            Films: {{franchises_details.film_num}}
                        </div>
                        {% endif %}
                        {% if franchises_details.tv_type is True %}
                        <div class="col-md-auto">
                            Seasons: {{franchises_details.tv_num}}
                        </div>
                        {% endif %}
                        {% if franchises_details.oav_type is True %}
                        <div class="col-md-auto">
                            OAV's: {{franchises_details.oav_num}}
                        </div>
                        {% endif %}
                    </div>
                    <div class="row m-1">
                        {% if not franchises_user == none %}
                        <div class="col-md-auto">
                            <p>Average all users: {{franchises_user.user_opinion_average}}</p>
                        </div>
                        {% endif %}
                        {% if franchises_user == none %}
                        <div class="col-md-auto">
                            <p>No one has rated this yet</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                </div>
            </div>            
        <!-- Main ^^^^^^^^^^^^^^ -->
        <!-- Films VVVVVVVVVVVVVV -->
        <div class="row">            
            {% for franchise_item_film in franchise_items_films %}
            <div class="col">
                <div id="film_table" class="collapse multi-collapse" data-parent="#table_items">
                    <div class="card-body">
                        {{user.username}}
                        <table class="table table-hover">
                            <thead class="table-primary">
                                <tr>
                                    <th scope="col">{{franchise_item_film.name}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="col">
                                        {% if franchise_item_users_film == none or forloop.counter > franchise_item_users_film_num %}
                                        Story: Not yet rated
                                        {% endif %}
                                        {% for franchise_item_user in franchise_item_users_film %}
                                        {% if franchise_item_film.id == franchise_item_user.franchies_item_name.id %}
                                        Story: {{franchise_item_user.story_opinion}}/5
                                        {% endif %} 
                                        {% endfor %}
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="col">
                                        {% if franchise_item_users_film == none or forloop.counter > franchise_item_users_film_num %}
                                        Animation: Not yet rated
                                        {% endif %}
                                        {% for franchise_item_user in franchise_item_users_film %}
                                        {% if franchise_item_film.id == franchise_item_user.franchies_item_name.id %}
                                        Animation: {{franchise_item_user.animation_opinion}}/5
                                        {% endif %}
                                        {% endfor %}
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="col">
                                        {% if franchise_item_users_film == none or forloop.counter > franchise_item_users_film_num %}
                                        Music: Not yet rated
                                        {% endif %}
                                        {% for franchise_item_user in franchise_item_users_film %}
                                        {% if franchise_item_film.id == franchise_item_user.franchies_item_name.id %}
                                        Music: {{franchise_item_user.music_opinion}}/5
                                        {% endif %}
                                        {% endfor %}
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="col">
                                        {% if franchise_item_users_film == none or forloop.counter > franchise_item_users_film_num %}
                                        Overall: Not yet rated
                                        {% endif %}
                                        {% for franchise_item_user in franchise_item_users_film %}
                                        {% if franchise_item_film.id == franchise_item_user.franchies_item_name.id %}
                                        Overall: {{franchise_item_user.user_opinion_average}}/5
                                        {% endif %}
                                        {% endfor %}
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% for franchise_item_film in franchise_items_films %}
            <div class="col" id="film_table_comp_{{ forloop.counter }}">
                <div id="film_table" class="collapse multi-collapse" data-parent="#table_items">
                    <div class="card-body">
                        Diff User Name
                        <table class="table table-hover">
                            <thead class="table-warning">
                                <tr>
                                    <th scope="col">{{franchise_item_film.name}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="col">Story: 2/5</th>
                                </tr>
                                <tr>
                                    <th scope="col">Story: 2/5</th>
                                </tr>
                                <tr>
                                    <th scope="col">Animation: 2/5</th>
                                </tr>
                                <tr>
                                    <th scope="col">Music: 3/5</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Films ^^^^^^^^^^^^^^^^^^ -->
        <!-- TV VVVVVVVVVVVVV -->
        <div class="row">
            {% for franchise_items_tv in franchise_items_tvs %}
            <div class="col">
                <div id="tv_table" class="collapse multi-collapse" data-parent="#table_items">
                    <div class="card-body">
                        {{user.username}}
                        <table class="table table-hover">
                            <thead class="table-primary">
                                <tr>
                                    <th scope="col">{{franchise_items_tv.name}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="col">
                                        {% if franchise_item_users_tv == none or forloop.counter > franchise_item_users_tv_num %}
                                        Story: Not yet rated
                                        {% endif %}
                                        {% for franchise_item_user in franchise_item_users_tv %}
                                        {% if franchise_items_tv.id == franchise_item_user.franchies_item_name.id %}
                                        Story: {{franchise_item_user.story_opinion}}/5
                                        {% endif %}
                                        {% endfor %}
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="col">
                                        {% if franchise_item_users_tv == none or forloop.counter > franchise_item_users_tv_num %}
                                        Animation: Not yet rated
                                        {% endif %}
                                        {% for franchise_item_user in franchise_item_users_tv %}
                                        {% if franchise_items_tv.id == franchise_item_user.franchies_item_name.id %}
                                        Animation: {{franchise_item_user.animation_opinion}}/5
                                        {% endif %}
                                        {% endfor %}
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="col">
                                        {% if franchise_item_users_tv == none or forloop.counter > franchise_item_users_tv_num %}
                                        Music: Not yet rated
                                        {% endif %}
                                        {% for franchise_item_user in franchise_item_users_tv %}
                                        {% if franchise_items_tv.id == franchise_item_user.franchies_item_name.id %}
                                        Music: {{franchise_item_user.music_opinion}}/5
                                        {% endif %}
                                        {% endfor %}
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="col">
                                        {% if franchise_item_users_tv == none or forloop.counter > franchise_item_users_tv_num %}
                                        Overall: Not yet rated
                                        {% endif %}
                                        {% for franchise_item_user in franchise_item_users_tv %}
                                        {% if franchise_items_tv.id == franchise_item_user.franchies_item_name.id %}
                                        Overall: {{franchise_item_user.user_opinion_average}}/5
                                        {% endif %}
                                        {% endfor %}
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% for franchise_items_tv in franchise_items_tvs %}
            <div class="col" id="tv_table_comp_{{ forloop.counter }}">
                <div id="tv_table" class="collapse multi-collapse" data-parent="#table_items">
                    <div class="card-body">
                        Diff User Name
                        <table class="table table-hover">
                            <thead class="table-warning">
                                <tr>
                                    <th scope="col">{{franchise_items_tv.name}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="col">Story: 2/5</th>
                                </tr>
                                <tr>
                                    <th scope="col">Story: 2/5</th>
                                </tr>
                                <tr>
                                    <th scope="col">Animation: 2/5</th>
                                </tr>
                                <tr>
                                    <th scope="col">Music: 3/5</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- TV ^^^^^^^^^^^^^ -->
    </div>
</div>
</div>
</div>
</body>
{% endblock %}