{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">

    function firstLoad() {
        document.getElementById('film_table_comp_1').style.display = 'none';
        document.getElementById('tv_table_comp_1').style.display = 'none';
    }
    function filmComp() {

        var film_comp_toggle = document.getElementById('film_table_comp_1')
        if (film_comp_toggle.style.display === "block") {
            film_comp_toggle.style.display = 'none';
        } else {
            film_comp_toggle.style.display = 'block';
        }
    }
    function filmButton() {
        var tv_comp_toggle_show = document.getElementById('tv_button')
        if (film_comp_toggle_show.style.display === "none") {
            film_comp_toggle_show.style.display = "block";
            tv_comp_toggle_show.style.display = "none";
        } else {
            film_comp_toggle_show.style.display = "none";
        }
    }


    function tvComp() {
        var tv_comp_toggle = document.getElementById('tv_table_comp_1')
        if (tv_comp_toggle.style.display === "block") {
            tv_comp_toggle.style.display = 'none';
        } else {
            tv_comp_toggle.style.display = 'block';
        }
    }
    function tvButton() {
        var tv_comp_toggle_show = document.getElementById('tv_button')
        if (tv_comp_toggle_show.style.display === "none") {
            tv_comp_toggle_show.style.display = "block";
            film_comp_toggle_show.style.display = "none";
        } else {
            tv_comp_toggle_show.style.display = "none";
        }
    }

    function allComp() {
        filmComp();
        tvComp();
    }

    function mainButton() {
        var tv_comp_toggle_show = document.getElementById('tv_button')
        if (tv_comp_toggle_show.style.display === "block") {
            tv_comp_toggle_show.style.display = "none";
        }
        if (film_comp_toggle_show.style.display === "block") {
            film_comp_toggle_show.style.display = "none";
        }
    }

</script>

<body onload="firstLoad()">


    <!-- Top selector VVVVVVVVVVVVVVVV-->
    <div class="card">
        <div class="card-header">
            <div class="btn-group mr-2" role="group" aria-label="main group">
                <button class="btn btn-primary" data-toggle="collapse" href="#main_table" role="button"
                    aria-expanded="false" onclick="mainButton()">
                    {{franchises_details.franchies_name}} Deatils
                </button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="fist group">
                {% if franchises_details.film_type is True %}
                <button class="btn btn-primary" data-toggle="collapse" href="#film_table" role="button"
                    aria-expanded="false" onclick="filmButton()">
                    Films: {{franchises_details.film_num}}
                </button>
                {% endif %}
                {% if franchises_details.tv_type is True %}
                <button class="btn btn-primary" data-toggle="collapse" href="#tv_table" role="button"
                    aria-expanded="false" onclick="tvButton()">
                    Seasons: {{franchises_details.tv_num}}
                </button>
                {% endif %}
            </div>
            <div class="btn-group mr-2" role="group" aria-label="second group">
                <div class="dropright">
                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add Items
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" data-toggle="modal" data-target="#filmModal" name="Film">Add Film</a>
                        </form>
                        <a class="dropdown-item" data-toggle="modal" data-target="#tvModal" name="TV">Add TV</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#oavModal" name="OAV">Add OAV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top selector ^^^^^^^^^^^^^^^^-->

    <!-- Add items VVVVVVVVVVVVVVV-->
    <div class="form-group">
        <form action="/{{franchises_details.franchise_slug}}" method="POST" enctype="multipart/form-data">
            <div class="modal fade" id="filmModal" tabindex="-1" role="dialog" aria-labelledby="filmModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="filmModalLabel">New Film Item</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            {{franchises_details.franchies_name}}: Film
                            {{form.name}}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Create" name="Film" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="form-group">
        <form action="/{{franchises_details.franchise_slug}}" method="POST" enctype="multipart/form-data">
            <div class="modal fade" id="tvModal" tabindex="-1" role="dialog" aria-labelledby="tvModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="tvModalLabel">New TV Item</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            {{franchises_details.franchies_name}}: TV
                            {{form.name}}
                            <p></p>
                            Number of Ep:{{form.number_of_episodes}}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Create" name="TV" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="form-group">
        <form action="/{{franchises_details.franchise_slug}}" method="POST" enctype="multipart/form-data">
            <div class="modal fade" id="oavModal" tabindex="-1" role="dialog" aria-labelledby="oavModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="oavModalLabel">New OAV Item</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% csrf_token %}
                            {{franchises_details.franchies_name}}: OAV
                            {{form.name}}
                            <p></p>
                            Number of Ep:{{form.number_of_episodes}}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" value="Create" name="OAV" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Add items ^^^^^^^^^^^^^^^-->

    <div id="table_items">
        <div class="jumbotron">
            <h1 class="display-4">{{franchises_details.franchies_name}}</h1>
            <hr class="my-4">
            <div class="row">
                <div class="col">
                    <img src="{{franchises_details.thumb.url}}" class="rounded pt-3" style="height: 300px;" alt="">
                </div>
                <div class="col-10">
                    <!-- Comp buttons VVVVVVVVVVVVVV -->
                    <!-- <div id="film_button">
                        <div class="btn-group p-3" role="group" aria-label="Second group">
                            <button class="btn btn-secondary" role="button" onclick="allComp()">
                                Select User to compare
                            </button>
                        </div>
                    </div> -->
                    <!-- <div id="tv_button">
                        <div class="btn-group p-3" role="group" aria-label="Second group">
                            <button class="btn btn-secondary" role="button" aria-expanded="false" onclick="allComp()">
                                Select User to compare
                            </button>
                        </div>
                    </div> -->
                    <!-- Comp buttons ^^^^^^^^^^^^^^ -->
                    <!-- Main VVVVVVVVVVVVVV -->
                    <div class="row">
                        <div class="col">
                            {% for film in films %}
                            <div id="main_table" class="collapse multi-collapse" data-parent="#table_items">
                            </div>
                            {% endfor %}
                            <div id="main_table" class="collapse show multi-collapse" data-parent="#table_items">
                                <div class="row m-1 pt-3">
                                    {% if franchises_details.film_type is True %}
                                    <div class="col-md-auto">
                                        Films: {{franchises_details.film_num}}
                                    </div>
                                    {% endif %}
                                    {% if franchises_details.tv_type is True %}
                                    <div class="col-md-auto">
                                        Seasons: {{franchises_details.tv_num}}
                                    </div>
                                    {% endif %}
                                    {% if franchises_details.oav_type is True %}
                                    <div class="col-md-auto">
                                        OAV's: {{franchises_details.oav_num}}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="row m-1">
                                    {% if not franchises_user == none %}
                                    <div class="col-md-auto">
                                        <p>Average all users: {{franchises_user.user_opinion_average}}</p>
                                    </div>
                                    {% endif %}
                                    {% if franchises_user == none %}
                                    <div class="col-md-auto">
                                        <p>No one has rated this yet</p>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Main ^^^^^^^^^^^^^^ -->
                    <!-- Films VVVVVVVVVVVVVV -->
                    <div id="film_table" class="collapse multi-collapse" data-parent="#table_items">
                        <div id="film_item">
                            <div class="btn-toolbar" role="toolbar" aria-label="film_toolbar">
                                <div class="btn-group p-3" role="group" aria-label="film_group_list">
                                    {% for film in films %}
                                    <button class="btn btn-secondary" type="button" data-toggle="collapse"
                                        data-target="#film_{{ forloop.counter }}" aria-expanded="false"
                                        aria-controls="film_{{ forloop.counter }}">
                                        {{film.name}}
                                    </button>
                                    {% endfor %}
                                </div>
                                <div class="btn-group p-3" role="group" aria-label="film_group_list">
                                    <button class="btn btn-secondary" role="button" onclick="allComp()">
                                        Select User to compare
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {% for film in films %}
                                    {% if forloop.counter == 1 %}
                                    <div id="film_{{ forloop.counter }}" class="show collapse" data-parent="#film_item">
                                        {% else %}
                                        <div id="film_{{ forloop.counter }}" class="collapse" data-parent="#film_item">
                                            {% endif %}
                                            <div class="card-body">
                                                {{user.username}}
                                                <table class="table table-hover">
                                                    <thead class="table-primary">
                                                        <tr>
                                                            <th scope="col">{{film.name}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="col">
                                                                Story: {{film.story}}
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">
                                                                Animation: {{film.animation}}
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">
                                                                Music: {{film.music}}
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th class="table-secondary" scope="col">
                                                                Overall: {{film.overall}}
                                                            </th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col" id="film_table_comp_1">
                                        {% for film in films %}
                                        {% if forloop.counter == 1 %}
                                        <div id="film_{{ forloop.counter }}" class="show collapse"
                                            data-parent="#film_item">
                                            {% else %}
                                            <div id="film_{{ forloop.counter }}" class="collapse"
                                                data-parent="#film_item">
                                                {% endif %}
                                                <div class="card-body">
                                                    Diff User Name
                                                    <table class="table table-hover">
                                                        <thead class="table-warning">
                                                            <tr>
                                                                <th scope="col">{{film.name}} TEst</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <th scope="col">Story: 2/5</th>
                                                            </tr>
                                                            <tr>
                                                                <th scope="col">Animation: 2/5</th>
                                                            </tr>
                                                            <tr>
                                                                <th scope="col">Music: 3/5</th>
                                                            </tr>
                                                            <tr>
                                                                <th scope="col" class="table-secondary">
                                                                    overall: 3/5
                                                                </th>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>



                            {% if films == none %}
                            <div class="row">
                                <div class="col">
                                    <div id="film_table" class="collapse multi-collapse" data-parent="#table_items">
                                        <div class="card-body">
                                            <table class="table table-hover">
                                                <thead class="table-danger">
                                                    <tr>
                                                        <th scope="col">No Items added</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}








                            <!-- Films ^^^^^^^^^^^^^^^^^^ -->
                            <!-- TV VVVVVVVVVVVVV -->
                            <div id="tv_table" class="collapse multi-collapse" data-parent="#table_items">
                                <div id="tv_item">
                                    <div class="btn-toolbar" role="toolbar" aria-label="tv_toolbar">
                                        <div class="btn-group p-3" role="group" aria-label="tv_group_list">
                                            {% for tv in tvs %}
                                            <button class="btn btn-secondary" type="button" data-toggle="collapse"
                                                data-target="#tv_{{ forloop.counter }}" aria-expanded="false"
                                                aria-controls="tv_{{ forloop.counter }}">
                                                {{tv.name}}
                                            </button>
                                            {% endfor %}
                                        </div>
                                        <div class="btn-group p-3" role="group" aria-label="tv_group_list">
                                            <button class="btn btn-secondary" role="button" onclick="allComp()">
                                                Select User to compare
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {% for tv in tvs %}
                                            {% if forloop.counter == 1 %}
                                            <div id="tv_{{ forloop.counter }}" class="show collapse"
                                                data-parent="#tv_item">
                                                {% else %}
                                                <div id="tv_{{ forloop.counter }}" class="collapse"
                                                    data-parent="#tv_item">
                                                    {% endif %}
                                                    <div class="card-body">
                                                        {{user.username}}
                                                        <table class="table table-hover">
                                                            <thead class="table-primary">
                                                                <tr>
                                                                    <th scope="col">{{tv.name}}</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col" class="table-light">
                                                                        Episodes:
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        <div class="col">
                                                            <table class="table table-hover">
                                                                <tbody>                                                        
                                                                    {% if tv.ep_items == 0 %}
                                                                    <tr>
                                                                        <th class="table-danger" scope="col">
                                                                            No episodes added yet
                                                                        </th>
                                                                    </tr>
                                                                    {% else %}
                                                                    {% for ep in tv.episode_list%}
                                                                    <tr>
                                                                        <th class="table" scope="col">
                                                                            Episode {{ep.name}}: {{ep.rate}}
                                                                        </th>
                                                                    </tr>
                                                                    {% endfor %}
                                                                    {% endif %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <table class="table table-hover">
                                                            <tbody>
                                                                <tr>
                                                                    <th scope="col" class="table-light">
                                                                        Attributes:
                                                                    </th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="col">
                                                            <table class="table table-hover">
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="col">
                                                                            story: {{tv.story}}
                                                                        </th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="col">
                                                                            animation: {{tv.animation}}
                                                                        </th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th scope="col">
                                                                            music: {{tv.music}}
                                                                        </th>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <table class="table table-hover">
                                                            <tbody>
                                                                <tr>
                                                                    <th scope="col" class="table-secondary">
                                                                        overall: {{tv.overall}}
                                                                    </th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class="col" id="tv_table_comp_1">
                                                {% for tv in tvs %}
                                                {% if forloop.counter == 1 %}
                                                <div id="tv_{{ forloop.counter }}" class="show collapse"
                                                    data-parent="#tv_item">
                                                    {% else %}
                                                    <div id="tv_{{ forloop.counter }}" class="collapse"
                                                        data-parent="#tv_item">
                                                        {% endif %}
                                                        <div class="card-body">
                                                            Diff User Name
                                                            <table class="table table-hover">
                                                                <thead class="table-warning">
                                                                    <tr>
                                                                        <th scope="col">{{tv.name}}</th>
                                                                    </tr>
                                                                </thead>                                                                
                                                            </table>
                                                            <table class="table table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col" class="table-light">
                                                                            Episodes:
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                            <div class="col">
                                                                <table class="table table-hover">
                                                                    <tbody>
                                                                        {% if tv.ep_items == 0 %}
                                                                        <tr>
                                                                            <th class="table-danger" scope="col">
                                                                                No episodes added yet
                                                                            </th>
                                                                        </tr>
                                                                        {% else %}
                                                                        {% for ep in tv.episode_list%}
                                                                        <tr>
                                                                            <th scope="col">
                                                                                Episode {{ep.name}}: 3/5
                                                                            </th>
                                                                        </tr>
                                                                        {% endfor %}
                                                                        {% endif %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <table class="table table-hover">
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="col" class="table-light">
                                                                            Attributes:
                                                                        </th>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <div class="col">
                                                                <table class="table table-hover">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th scope="col">Story: 2/5</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="col">Animation: 2/5</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="col">Music: 3/5</th>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <table class="table table-hover">
                                                                <tbody>
                                                                    <tr>
                                                                        <th scope="col" class="table-secondary">
                                                                            overall: 3/5
                                                                        </th>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    {% if tvs == none %}
                                    <div class="row">
                                        <div class="col">
                                            <div id="film_table" class="collapse multi-collapse"
                                                data-parent="#table_items">
                                                <div class="card-body">
                                                    <table class="table table-hover">
                                                        <thead class="table-danger">
                                                            <tr>
                                                                <th scope="col">No Items added</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- TV ^^^^^^^^^^^^^ -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}